<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Login Page</title>
    <style>
        body {
       background: -webkit-linear-gradient(bottom, #0c4bb0, #4287f5);
       background-repeat: no-repeat;
       background-attachment: fixed;

       }
        #card {
        background: #fbfbfb;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: fit-content;
        margin: 6rem auto 8.1rem auto;
        width: 329px;
        padding-bottom: 5%;
}
#card-content {
      padding: 12px 44px;
}
#card-title {
      font-family: "Raleway Thin", sans-serif;
      letter-spacing: 4px;
      padding-bottom: 23px;
      padding-top: 13px;
      text-align: center;
}
.underline-title {
      background: -webkit-linear-gradient(right, #0c4bb0, #4287f5);
      height: 2px;
      margin: -1.1rem auto 0 auto;
      width: 89px;
}
a {
    text-decoration: none;
}
label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border {
    background: -webkit-linear-gradient(right,#0c4bb0, #4287f5);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
.submit-btn {
    background: -webkit-linear-gradient(right,#0c4bb0, #4287f5);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #4287f5;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
.submit-btn:hover {
    box-shadow: 0px 1px 18px #4287f5;
}
    </style>
</head>
<body>
    <div id="card">
        <% if(failed) { %>
            <div style="padding:3%;background-color: #e6426c; color: #fff;"><%= failed %></div>
             <br>
            <div style="width: 100%;align-content: center;display: flex; justify-content: center;">
                 <button class="submit-btn" onclick="window.location.href ='/login'">BACK TO LOGIN</button> </div>
            <% } else { %>
        <div id="card-content">
            <div id="card-title">
              <h2>MALLADA</h2>
              <div class="underline-title"></div>
            </div>
            <form method="post" class="form"> 
                <label for="user-email" style="padding-top:13px">&nbsp;Username</label>
  <input
   id="user-email"
   class="form-content"
   type="text"
   name="username"
   autocomplete="on"
   required />
  <div class="form-border"></div>
<label for="user-password" style="padding-top:22px">&nbsp;Password</label>
  <input
   id="user-password"
   class="form-content"
   type="password"
   name="password"
   required />
   <input type="text" name="domain" value='<%= domain %>' hidden>
  <div class="form-border"></div>
  <input id="submit-btn" class="submit-btn" type="submit" name="submit" value="LOGIN" />
<!-- <a href="#"><legend id="forgot-pass">Forgot password?</legend></a> -->
            </form>
          </div>
  <% } %>
    </div>
</body>
</html>